@font-face {
    font-family: circular;
    src: url(fonts/circular_std_book.otf);
    font-weight: bold;
}

body,
html {
    font-family: circular;
    padding: 0rem;
    margin: 0rem;
}
a:hover {
    text-decoration: none;
}
.header-content, .footer {
    background-color: rgba(255,255,255, 0.5);
}

header {
    width: 100%;
    padding: rem;
    overflow: auto;
    position: inherit;
    margin-top: 0rem;
}

header h2 {
    margin: 0rem;
    padding: 1rem;
    color: white;
}
header h6 {
color: rgba(0, 0, 0, 0.2);
 
}
header .title-container {
    display: flex;
    align-items: center;
}

.body-content h1 {
    color: white;
}

.body-content #google-play-button {
    width: 16rem;
    margin-left: -1rem;
}

.body-content h5 {
    color: rgba(255, 255, 255, 0.75);
}


.fixed-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: -webkit-gradient(linear, 10% 0%, 50% 100%, color-stop(0%, #00E676), color-stop(100%, #3D5AFE));
}

.images{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.card-content {
    padding: 1rem;
}

.card-content h1 {
    font-size: 3rem;
}

#welcome-content {
    padding: 2rem;
    text-align: center;
    height: 32rem;
    background-color: #69F0AE;
}

#welcome-content h1 {
    font-weight: 100;
}

#welcome-content h6 {
    font-weight: 100;
}

.card {
    margin: 0rem;
    padding: 0rem;
}

.main-navbar {
    text-align: center;
}

.body-content {
    padding-top: 2rem;

}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer ul {
    margin-bottom: 0px;
    display: table;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.footer ul li {
    text-align: center;
    padding: 1rem;
    display: table-cell;
}

.footer ul li a{
    color: white;
}

.footer ul li a:hover {
    text-decoration: none;
}

.go-to-app:hover {
    text-decoration: none;
}

.go-to-app {
    text-decoration: none;
    padding: 1rem 2rem 1rem 2rem;
}

.change-log-content{
    padding: 1rem;
}
.change-log-content h1{
    color: white;
}
.change-log-content ul li {
    color: white;
}
.change-log-content ul li ul li{
    color: rgba(255, 255, 255, 0.6);
}
