@font-face {
    font-family: circular;
    src: url(fonts/circular_std_book.otf);
    font-weight: bold;
}

body,
html {
    font-family: circular;
    padding: 0rem;
    margin: 0rem;
}

header {
    padding: 2rem;
    overflow: auto;
}

header h1 {
    margin: 0rem;
    padding: 1rem;
}

.fixed-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: -webkit-gradient(linear, 10% 0%, 50% 100%, color-stop(0%, #00E676), color-stop(100%, #3D5AFE));
}

.header .title-container {
    display: flex;
    align-items: center;
}

.header h1 {
    font-size: 5rem;
}

.header img {
    margin-left: 0.5rem;
}

.header #google-play-button {
    width: 20rem;
}

.header h1 {
    color: white;
    font-size: 3rem;
}

.header h2 {
    color: white;
    padding-left: 1rem;
    font-size: 1rem;
}

.header {
    position: inherit;
    margin-top: 0rem;
}

header.container {
    padding: 1rem;
}

.card-content {
    padding: 1rem;
}

.card-content h1 {
    font-size: 4rem;
}

#welcome-content {
    padding: 2rem;
    text-align: center;
    height: 32rem;
    background-color: #69F0AE;
}

#welcome-content h1 {
    font-weight: 100;
}

#welcome-content h6 {
    font-weight: 100;
}

.card {
    margin: 0rem;
    padding: 0rem;
}

.main-navbar {
    text-align: center;
}

.body-content {
    padding-top: 2rem;

}
.body-content h1 {
    font-size: 5rem;
}.body-content h2 {
    font-size: 3rem;
}
ul {
    display: table;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul li {
    text-align: center;
    padding: 1rem;
    display: table-cell;
}

ul li a:hover {
    text-decoration: none;
}

.go-to-app:hover {
    text-decoration: none;
}

.go-to-app {
    text-decoration: none;
    padding: 1rem 2rem 1rem 2rem;
}